.gitconfig
.vscode
.bash_history
.bash_logout
.bashrc
.cache/
.config/
Desktop/
.dmrc
Documents/
Downloads/
.gnupg/
.local/
MagPi/
Music/
.npm/
.npmrc
Pictures/
.profile
Public/
.ssh/
Templates/
Videos/
.Xauthority
.xsession-errors
.xsession-errors.old
